.App {
  text-align: center;
}

.App-logo {
  width: 30vmin;
  height: 40vmin;
  pointer-events: none;
  margin-top: -7vh;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1{
  font-size: 8vw;
  font-family:helvetica;
}
h2{
  font-size:3.7vw;
  margin-top:-2.2vh;
  font-family:helvetica;
}
.hey{
  font-size:2.4vw;
  font-family:helvetica;
}
.links{
  margin-top: -3vh;
}
.App-header {
  background-color: #525252;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:helvetica;
}

.App-link {
  color: #f2f6f7;
  text-decoration: none;
  font-size: 5vh;
  font-family:helvetica;
}

.App-link:hover{
  transition:.5s;
  font-size: 5.5vh;
  color: #19d8f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
